.miViaje {
    /* DIMENSIONES */
    height: 780px;
    /* COLOR */
    background-color: #733F3F;
    margin: 0;
}

.miViaje h2 {
    /* COLOR */
    color: #F2E6DF;
    /* TEXTO */
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.linea-tiempo {
    position: relative;
    left: calc(50% - 150px);
    width: 300px;
    max-width: 95vw;
    height: 85%;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}


  
  .linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #929CA6;
    left: 50%;
    height: 100%;
    border-radius: 10px;
  }
  
  .momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
  }
  
  .momento:nth-child(even) {
    left: 55%;
  }
  
  .momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #929CA6;
    border-radius: 50%;
  }
  
  .momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
  }
  
  .momento h3 {
    margin: 10px 0px;
    font-size: 30px;
    text-align: center;
    color: #F2E6DF;
  }
  
  .momento .descripcion {
    background-color: #F2E6DF;
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
  }
  
  .momento .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #F2E6DF;
  }
  
  .momento:nth-child(even) .descripcion {
    background-color: #F2E6DF;
    color: #0D0D0D;
  }
  
  .momento:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #F2E6DF;
    border-left: none;
  }